@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Sono:wght@400;500&display=swap');

html{
    --color-1:rgb(37, 37, 37);
    --color-2:rgb(250, 245, 245);
    margin: 8px;
}
body{
    background-color: var(--color-1);
    color:var(--color-2);
    font-family: 'Sono', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body > header{
    text-align: center;
}

body > header > h1 {
    font-weight: 500;

}
body > header > nav > ul > li{
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    margin: 5px;
}
body > main > section > h2{
    text-align: center;
    border: 2px solid var(--color-2);
    font-weight:400;
}
body > main > section li,
body > main > section p{
    font-weight: 300;
}
body > main > section > ul > li > span{
    font-weight: bold;
}

